<header>
  <h1><a href="#">Rssky Business</a></h1>
  <a href="/#/feeds/new">Create New Feed</a>
</header>
<div id='content'></div>
<footer>
  &copy; 2014 Aaron & Jacob Industries
</footer>
<script></script>
