/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body, h1, h2, ul, li, a, div, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2C1339;
}

h1 > a {
  color: #DDD;
}

li > a:hover {
  text-decoration: underline;
}

body {
  background: #1F345C;
/*  background-image: linear-gradient(to right, #1F345C, #909FDA);*/
  font-family: sans-serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 0 1em black;
}

header > a {
  position: absolute;
  top: 20px;
  right: 15px;
  color: #DDD;
}

header > a:hover {
  filter: blue(5px);
}

h1 {
  background: #2C1339;
  color: #DDD;
  padding: 10px;
  font-size: 2em;
}

#content, #content2 {
  background: white;
  margin: 0 100px 50px 100px;
  padding: 70px 10px 30px 10px;
  border-radius: 5px;
  box-shadow: 0 0 2em #81D5B7;
}

h2 {
  font-size: 24px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 10px;
}

#content li:nth-child(even) {
  background: #DDD;
}

li {
  padding: 6px 5px;
}

footer {
  position: fixed;
  bottom: 0;
  background: #2C1339;
  color: #DDD;
  width: 100%;
  padding: 10px;
  font-size: 12px;
  box-shadow: 0 0 1em black;
}

li > button {
  display: none;
  font-size: 12px;
  float: right;
}

li:hover > button {
  display: inline;
}

button, input[type=submit], header li > a  {
/*  float: right;*/
  background: #1F345C;
  border: 1px solid #81D5B7;
  border-radius: 5px;
  color: #DDD;
  padding: 2px;
}

header ul {
  position: fixed;
  right: 0;
  top: 0;
  font-size: 12px;
}

input[type=text], input[type=password] {
  background: #1F345C;
  color: #DDD;
  box-shadow: inset 0 0 1em #81D5B7;
  font-size: 16px;
}

input[type=text] {
  width: 300px;
}